$body-bg-color: rgb(0 0 31);
$navbar-bg-color: rgb(0 0 46);
$letters-color: #abbdbd;
$top-space: 30px;
$post-img-gui-color: $navbar-bg-color;

$publication-bg-color: rgb(0 0 67);
$comment-bg-color: rgb(0 0 67);
$comment-section-bg-color: rgb(0 0 14);

$status-highlight-color: white;
$status-official-color: white;
$status-solved-color: white;
$status-verified-color: white;
$status-subnormal-color: white;
$status-genius-color: white;

$responses-color: rgb(226, 41, 41);
$comments-color: rgb(47, 49, 209);

$form-post-color: rgb(0 0 46);

@import 'basic-rect'; 