$body-bg-color: rgb(32 72 41);
$navbar-bg-color: rgb(2 2 4);
$letters-color: rgb(0, 255, 76); //rgb(34, 180, 85);
$top-space: 30px;
$post-img-gui-color: rgba(223, 224, 224, 0.6);

$publication-bg-color: rgb(2 2 4);
$comment-bg-color: rgb(2 2 4);
$comment-section-bg-color: rgb(2 2 4);

$status-highlight-color: rgb(50, 77, 165);
$status-official-color: rgb(50, 77, 165);
$status-solved-color: rgb(50, 77, 165);
$status-verified-color: rgb(50, 77, 165);
$status-subnormal-color: rgb(50, 77, 165);
$status-genius-color: rgb(50, 77, 165);

$responses-color: #ff5b5b;
$comments-color: #9797d8;

$form-post-color: rgb(2 2 4);

@import 'basic-rect'; 