$body-bg-color: #222225;
$navbar-bg-color: #0c0b0c;
$letters-color: #e4e4e4;
$top-space: 30px;
$post-img-gui-color: rgba(0,0,0,0.6);

$publication-bg-color: #19191b;
$comment-bg-color: #181819;
$comment-section-bg-color: #19191b;

$status-highlight-color: rgb(201, 214, 12);
$status-official-color: white;
$status-solved-color: green;
$status-verified-color: green;
$status-subnormal-color: rgb(221, 171, 8);
$status-genius-color: rgb(17, 132, 199);

$responses-color: rgb(226, 41, 41);
$comments-color: rgb(47, 49, 209);

$form-post-color: hsl(0deg 0% 0% / 55%);

@import 'basic-rect'; 