$body-bg-color: rgb(71, 19, 101);
$navbar-bg-color: rgb(48, 3, 68);
$letters-color: rgb(227, 177, 228);
$top-space: 30px;
$post-img-gui-color: rgba(223, 224, 224, 0.6);

$publication-bg-color: rgb(94 36 112);
$comment-bg-color: rgb(94 36 112);
$comment-section-bg-color: rgb(123 25 124);

$status-highlight-color: white;
$status-official-color: white;
$status-solved-color: white;
$status-verified-color: white;
$status-subnormal-color: white;
$status-genius-color: white;

$responses-color: #ff5b5b;
$comments-color: #9797d8;

$form-post-color: rgb(123 25 124);

@import 'basic-rect'; 