$body-bg-color: #d2d2e6;
$navbar-bg-color: #ffffff;
$letters-color: #141313;
$top-space: 30px;
$post-img-gui-color: rgba(223, 224, 224, 0.6);

$publication-bg-color: #f1f1f1;
$comment-bg-color: #f1f1f1;
$comment-section-bg-color: #dedef7;

$status-highlight-color: rgb(212, 223, 61);
$status-official-color: white;
$status-solved-color: rgb(42, 194, 42);
$status-verified-color: rgb(40, 204, 40);
$status-subnormal-color: rgb(211, 180, 77);
$status-genius-color: rgb(71, 147, 190);

$responses-color: rgb(226, 41, 41);
$comments-color: rgb(47, 49, 209);

$form-post-color: rgba(236, 236, 236, 0.877);

@import 'basic-rect'; 